<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94376559141-rq62bnpoak9a05gvu37ekfifhkjbtg1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94376559141-rq62bnpoak9a05gvu37ekfifhkjbtg1h</string>
	<key>API_KEY</key>
	<string>AIzaSyCuMstG3HANXHmxNKqf78lpiJ6EmECP3pM</string>
	<key>GCM_SENDER_ID</key>
	<string>94376559141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wissa.Expenser</string>
	<key>PROJECT_ID</key>
	<string>expenser-56b7f</string>
	<key>STORAGE_BUCKET</key>
	<string>expenser-56b7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94376559141:ios:b4144e22536d5d59edb5cc</string>
</dict>
</plist>